:root {
  /* colors */
  --silver: #eceeef;
  --warm-grey:#707070;
  --charcoal-grey: #373a3c;
  --white: #ffffff;
  --water-blue: #1c7cd5;
  /* font-size */
  --title-font-size: 47px;


  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
